.markdownRoot {
  width: 100%;
  margin: 5em 0;

  > div {
    max-width: 700px;
    margin: 0 auto;
  }

  blockquote {
    font-style: italic;
    padding: 0.5em 0.75em;
    margin: 0.75em;

    border-left: 5px solid #19f;
  }

  > p {
    margin-bottom: 1em;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 0.25em;
  }

  h3 {
    font-size: 1.75rem;
    margin-bottom: 0.25em;
  }

  h4 {
    font-size: 1.5rem;
    margin-bottom: 0.25em;
  }

  a {
    color: rgb(17, 104, 255);
    text-decoration: underline;

    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  }

  .date {
    color: #666;
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;

    display: block;
  }

  .reduction {
    text-decoration: underline;
    display: inline-block;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;

    &:hover {
      letter-spacing: -2px;
      padding-right: 9px;
      padding-left: 9px;
    }
  }

  .visBlock {
    width: 500px;
    margin: 2rem auto;

    &:hover {
      canvas {
        border-color: #dcdfe3;
      }

      .playBackControl {
        opacity: 1;
      }
    }

    &:has(.playBackControl[data-is-playing='false']) {
      canvas {
        border-color: #dcdfe3;
      }

      .playBackControl {
        opacity: 1;
      }
    }

    canvas {
      // border: none;
      box-shadow: none;
      border-radius: 25px;

      transition: all 0.1s ease;

      border-style: solid;
      border-width: 1px;
      border-color: transparent;
    }

    .playBackControl {
      transition: all 0.1s ease;
      opacity: 0;
      // color: #636b74 !important

      &[data-is-playing='false'] {
        opacity: 1;
      }
    }
  }

  .titleBlock {
    display: inline-block;
    width: 60px;
    transform: translate(5px, 6px);

    > div {
      margin: 0;
    }

    canvas {
      border: none;
      box-shadow: none;
    }
  }

  ol {
    list-style: decimal;

    > li {
      margin-bottom: 0.25em;

      &::marker {
        color: #666;
      }
    }
  }
}
