@import 'tailwindcss';

canvas {
  border-color: var(
    --variant-outlinedBorder,
    var(
      --joy-palette-neutral-outlinedBorder,
      var(--joy-palette-neutral-300, #cdd7e1)
    )
  );
  box-shadow:
    var(--joy-shadowRing, 0 0 #000),
    0px 1px 2px 0px
      rgba(var(--joy-shadowChannel, 21 21 21) / var(--joy-shadowOpacity, 0.08));
}
